{% extends "base.html" %}
{% block content %}
<p>{{message}}</p>
  <h1>{{sarja.nimi}}</h1>
  <!-- Painikkeet tähän -->
  <p>
    <form method="post" action="{{base_path}}/sarja/{{sarja.id}}/destroy" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
    <a class="btn btn-default" href="{{base_path}}/sarja/{{sarja.id}}/edit">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisupäivä:</strong> {{sarja.julkaistu}}</li>
    <li><strong>Network:</strong> {{sarja.network}}</li>
    <li><strong>Kausia:</strong> {{sarja.kausia}}</li>
    <li><strong>Jaksoja:</strong> {{sarja.jaksoja}}</li>
    <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li>
    <li><strong>Genre:</strong> {% for genre in genret%} {{genre.id}} {%endfor%} </li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
      {{sarja.kuvaus}}
  </p>
  
  {% endblock %}