{% extends "base.html" %}
{% block content %}
  <h1>Westworld</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisupäivä:</strong> 02.10.2016</li>
    <li><strong>Network:</strong> HBO</li>
    <li><strong>Kausia:</strong> 1</li>
    <li><strong>Jaksoja:</strong> 10</li>
    <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li>
    <li><strong>Lisäyspäivä:</strong> 21.03.2017</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
      Westworld on yhdysvaltalainen science fiction -televisiosarja, jonka ovat luoneet Jonathan Nolan ja Lisa Joy. Se perustuu Michael Crichtonin ohjaamaan ja käsikirjoittamaan samannimiseen elokuvaan vuodelta 1973. Nolan ja Joy ovat sarjan vastaavia tuottajia yhdessä J. J. Abramsin, Jerry Weintraubin ja Bryan Burkin kanssa. Sarjan ensimmänen jakso esitettiin HBO:lla 2. lokakuuta 2016.
  </p>
  <p>
      Sarja sijoittuu futuristiseen westernaiheiseen teemapuistoon Westworldiin, jonka asukkaat ovat androideja joita kutsutaan ”isänniksi”. Westworld tarjoaa sen varakkaille vierailijoille mahdollisuuden tehdä mitä he ikinä haluavatkaan ilman pelkoa loukkaantumisesta tai kuolemisesta.
  </p>
  {% endblock %}